tests/*
*.spec
play_duplicate.py
play_duplicate2.py
player_copy.py
powerTrade.py
testing_2.py
testing_script.py
__pycache__/
Resources/__pycache__/
__pycache__/dialog_settings.cpython-37.pyc

